<div *ngIf="crisis$ | async as crisis">
  <h3>"{{ crisis.name }}"</h3>
  <div>
    <label>ID: </label>{{ crisis.id }}
  </div>
  <div>
    <div>
      <label>Name:
        <input [(ngModel)]="crisis.name" placeholder="name"/>
      </label>
    </div>

    <button (click)="save(crisis)">save</button> |
    <button (click)="cancel()">cancel</button>
    <br>
    <button (click)="goBack()">go back</button> |
    <button (click)="goToCrises(crisis)">back to Crisis Center</button> |
  </div>
</div>
